### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
testCoverage.html
unit-tests.xml
unit-tests.json
integration-tests.xml
integration-tests.json

# Dependency directories (remove the comment below to include it)
vendor/

### JetBrains
.idea
*.iml

# Helm
Chart.lock

.DS_Store
bin/
site

/artifacts
movie.mp4
/tmp
/linux
/windows
/darwin
/dist
.vscode