.announcement {
  --announcementBar-background: #fff;
  --announcementBar-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: sticky;
  top: var(--ifm-navbar-height);
  z-index: var(--ifm-z-index-fixed);
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  background: var(--announcementBar-background);
  color: var(--announcementBar-color);
}

.announcement[aria-disabled=true] {
  z-index: 0;
}

.announcement a {
  color: inherit;
  text-decoration: underline;
}

.announcement a:hover,
.announcement a:focus {
  text-decoration: none;
}

.announcementContent {
  margin: 0 auto;
}

.announcementClose {
  cursor: pointer;
  display: block;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  font-size: 1.5em;
  line-height: 1em;
  width: 1em;
  min-width: 1em;
  border-radius: 50%;
  text-align: center;
}

.announcementClose:hover,
.announcementClose:focus {
  background: var(--announcementBar-color);
  color: var(--announcementBar-background);
}