openapi: 3.0.1
info:
  title: Kubetest
  description: 'Efficient testing of k8s applications mandates a k8s native approach to test mgmt/definition/execution - kubetest provides a “quality control plane” that natively integrates testing activities into k8s development and operational workflows'
  termsOfService: http://kubetest.io/terms/
  contact:
    email: api@kubetest.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 0.0.1
externalDocs:
  description: 'Find out more about Kubetest'
  url: http://kubetest.io
servers:
- url: https://api.kubetest.io/v1
tags:
- name: scripts
  description: 'Operation based on scripts resource' 
- name: executor
  description: 'Scripts execution' 

paths:

  /scripts:
    get:
      tags:
      - scripts
      summary: 'Get all scripts'
      description: 'filters will be added later'
      operationId: getAllScripts
      responses:
        200:
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Script'
                  
  /scripts/{id}/executions:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: 'ID of the script (uuid?)'
      tags:
      - scripts
      summary: 'Starts new script execution'
      description: 'New script execution returns new execution details on successful execution start'
      operationId: executeScript
      requestBody:
        description: body passed to configure execution
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScriptExecutionRequest'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Execution'
  
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: ID of the script (uuid?)
      tags:
      - scripts
      summary: 'Get all script executions'
      description: 'Returns array of all available script executions'
      operationId: getScriptExecutions
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Execution'
                  

  /scripts/{id}/executions/{executionID}:
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: ID of the script (uuid?)
        - in: path
          name: executionID
          schema:
            type: string
          required: true
          description: ID of the script execution (uuid?)
      tags:
      - scripts
      summary: 'Get script execution'
      description: 'Returns execution with given executionID'
      operationId: getScriptExecution
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Execution'

  /scripts/{id}/executions/{executionID}/abort:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: ID of the script (uuid?)
        - in: path
          name: executionID
          schema:
            type: string
          required: true
          description: ID of the script execution (uuid?)
      tags:
      - scripts
      summary: 'Aborts execution'
      description: 'Aborts execution and returns execution details'
      operationId: abortScriptExecution
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Execution'
  /executions/:
    post:
      tags:
      - executor
      summary: 'Starts script execution'
      description: 'Starts script execution, returns pending execution with ID'
      operationId: executueScript
      responses:
        201:
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Execution'
  /executions/{id}:
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: 'ID of the execution'
      tags:
      - executor
      summary: 'Get execution by ID'
      description: 'Gets execution with given ID, returns deailed information about test execution'
      operationId: getExecution
      responses:
        200:
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Execution'

  
components:
  schemas:
    Script:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: script name
        type:
          type: string
          description: script type
          enum: 
          - postman/collection
        content:
          type: string
          description: script content
        created:
          type: string
          format: date-time
    ScriptExecution:
      type: object
      description: API server script execution
      properties:
        id:
          type: string
          description: execution id (UUID?)
          format: uuid
        script-name:
          type: string
          description: unique script name (CRD Script name)
        script-type:
          type: string
          description: script type e.g. postman/collection
        name:
          type: string
          description: 'execution name'
        params: 
          type: object
          description: 'execution params passed to executor'
          additionalProperties: 
            type: string
          example: 
            users: "3"
            prefix: "some-"
        execution: 
          description: 'execution result returned from executor'
          $ref: '#/components/schemas/Execution' 
    Execution:
      description: object which should be returned by REST based executors
      type: object
      properties:
        id:
          type: string
          description: execution id (UUID?)
          format: uuid
        script-content: 
          type: string
          description: script metadata content
        status: 
          type: string
          description: 'execution status'
          enum: 
          - queued
          - pending 
          - success 
          - failed
        output:
          type: string
          description: 'RAW Script execution output, depends of reporter used in particular tool'
        output-type:
          type: string
          description: 'output type depends of reporter used in partucular tool'
          enum: 
          - text/plain
          - application/junit+xml
          - application/json
        error-message: 
          type: string
          description: 'error message when status is failed, separate to output as output can be partial in case of error'
        start-time:
          type: string
          description: 'test start time'
          format: date-time
        end-time:
          type: string
          description: 'test end time'
          format: date-time
    ScriptExecutionRequest: 
      description: scripts execution request body
      type: object
      properties:
        name:
          type: string
          description: script execution custom name; 
          format: uuid
          example: testing with 1000 users
        params: 
          type: object
          description: 'execution params passed to executor'
          additionalProperties: 
            type: string
          example: 
            users: "3"
            prefix: "some-"