apiVersion: executor.testkube.io/v1
kind: Executor
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  {{- if ne (len .Labels) 0 }}
  labels:
  {{- range $key, $value := .Labels }}
    {{ $key }}: {{ $value }}
  {{- end }}
  {{- end }}
spec:
  {{- if ne (len .Types) 0 }}
  types:
  {{- range .Types }}
  - {{ . }}
  {{- end }}
  {{- end }}
  {{- if .ExecutorType }}
  executor_type: {{ .ExecutorType }}
  {{- end }}
  {{- if .Uri }}
  uri: {{ .Uri }}
  {{- end }}
  {{- if .Image }}
  image: {{ .Image }}
  {{- end }}
  {{- if .JobTemplate }}
  job_template: {{ .JobTemplate }}
  {{- end }}
  {{- if .JobTemplateReference }}
  jobTemplateReference: {{ .JobTemplateReference }}
  {{- end }} 
  {{- if gt (len .Args) 0 }}
  args:
  {{- range $arg := .Args}}
  - {{ $arg -}}
  {{- end}}
  {{- end}}
  {{- if gt (len .Command) 0 }}
  command:
  {{- range $cmd := .Command}}
  - {{ $cmd -}}
  {{- end}}
  {{- end -}}
  {{- if gt (len .ImagePullSecrets) 0 }}
  imagePullSecrets:
  {{- range $secret := .ImagePullSecrets}}
  - name: {{ $secret.Name -}}
  {{- end}}
  {{- end}}
  {{- if gt (len .Features) 0 }}
  features:
  {{- range $feature := .Features}}
  - {{ $feature -}}
  {{- end}}
  {{- end}}
  {{- if gt (len .ContentTypes) 0 }}
  content_types:
  {{- range $contentType := .ContentTypes}}
  - {{ $contentType -}}
  {{- end}}
  {{- end}}
  {{- if .Meta }}
  meta:
    {{- if .Meta.IconURI }}
    iconURI: {{ .Meta.IconURI }}
    {{- end }}
    {{- if .Meta.DocsURI }}
    docsURI: {{ .Meta.DocsURI }}
    {{- end }}
    {{- if ne (len .Meta.Tooltips) 0 }}
    tooltips:
    {{- range $key, $value := .Meta.Tooltips }}
      {{ $key }}: {{ $value }}
    {{- end }}
    {{- end }}
  {{- end}}
  {{- if .UseDataDirAsWorkingDir }}
  useDataDirAsWorkingDir: {{ .UseDataDirAsWorkingDir }}
  {{- end }}
