apiVersion: tests.testkube.io/v3
kind: TestSuite
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  {{- if ne (len .Labels) 0 }}
  labels:
  {{- range $key, $value := .Labels }}
    {{ $key }}: {{ $value }}
  {{- end }}
  {{- end }}
spec:
  {{- if .Description }}
  description: {{ .Description }}
  {{- end }}
  {{- if ne (len .Before) 0 }}
  before:
  {{- range .Before }}
  - stopOnFailure: {{ .StopOnFailure }}
    {{- if ne (len .Execute) 0 }}
    execute:
    {{- range .Execute }}
      {{- if .Test }}
    - test: {{ .Test }}
      {{- end }}
      {{- if .Delay }}
    - delay: {{ .Delay }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- if ne (len .Steps) 0 }}
  steps:
  {{- range .Steps }}
  - stopOnFailure: {{ .StopOnFailure }}
    {{- if ne (len .Execute) 0 }}
    execute:
    {{- range .Execute }}
      {{- if .Test }}
    - test: {{ .Test }}
      {{- end }}
      {{- if .Delay }}
    - delay: {{ .Delay }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- if ne (len .After) 0 }}
  after:
  {{- range .After }}
  - stopOnFailure: {{ .StopOnFailure }}
    {{- if ne (len .Execute) 0 }}
    execute:
    {{- range .Execute }}
      {{- if .Test }}
    - test: {{ .Test }}
      {{- end }}
      {{- if .Delay }}
    - delay: {{ .Delay }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- if .Schedule }}
  schedule: {{ .Schedule }}
  {{- end }}
  {{- if .Repeats }}
  repeats: {{ .Repeats }}
  {{- end }}
  {{- if .ExecutionRequest }}
  {{- if or (.ExecutionRequest.Name) (.ExecutionRequest.HttpProxy) (.ExecutionRequest.HttpsProxy) (ne (len .ExecutionRequest.Variables) 0) (ne .ExecutionRequest.Timeout 0) (.ExecutionRequest.CronJobTemplate)}}
  executionRequest:
    {{- if .ExecutionRequest.Name }}
    name: {{ .ExecutionRequest.Name }}
    {{- end }}
    {{- if ne (len .ExecutionRequest.Variables) 0 }}
    variables:
    {{- range $key, $value := .ExecutionRequest.Variables }}
      {{ $key }}:
        name: {{ $key }}
        {{- if $value.Value }}
        value: {{ $value.Value }}
        {{- end }}
        {{- if $value.Type_ }}
        type: {{ $value.Type_ }}
        {{- end }}
        {{- if $value.SecretRef }}
        valueFrom:
          secretKeyRef:
            {{- if $value.SecretRef.Name }}
            name: {{ $value.SecretRef.Name }}
            {{- end }}
            {{- if $value.SecretRef.Key }}
            key: {{ $value.SecretRef.Key }}
            {{- end }}
        {{- end }}
        {{- if $value.ConfigMapRef }}
        valueFrom:
          configMapKeyRef:
            {{- if $value.ConfigMapRef.Name }}
            name: {{ $value.ConfigMapRef.Name }}
            {{- end }}
            {{- if $value.ConfigMapRef.Key }}
            key: {{ $value.ConfigMapRef.Key }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- end }}
    {{- if .ExecutionRequest.HttpProxy }}
    httpProxy: {{ .ExecutionRequest.HttpProxy }}
    {{- end }}
    {{- if .ExecutionRequest.HttpsProxy }}
    httpsProxy: {{ .ExecutionRequest.HttpsProxy }}
    {{- end}}
    {{- if ne .ExecutionRequest.Timeout 0 }}
    timeout: {{ .ExecutionRequest.Timeout }}
    {{- end}}
    {{- if .ExecutionRequest.CronJobTemplate }}
    cronJobTemplate: {{ .ExecutionRequest.CronJobTemplate }}
    {{- end}}
  {{- end }}
  {{- end }}
{{- if .Status }}
status:
  {{- if .Status.LatestExecution }}
  latestExecution:
    {{- if .Status.LatestExecution.Id }}
    id: {{ .Status.LatestExecution.Id }}
    {{- end }}
    {{- if not .Status.LatestExecution.StartTime.IsZero }}
    startTime: {{ .Status.LatestExecution.StartTime.Format "2006-01-02T15:04:05Z" }}
    {{- end }}
    {{- if not .Status.LatestExecution.EndTime.IsZero }}
    endTime: {{ .Status.LatestExecution.EndTime.Format "2006-01-02T15:04:05Z" }}
    {{- end }}
    {{- if .Status.LatestExecution.Status }}
    status: {{ .Status.LatestExecution.Status }}
    {{- end }}
  {{- end }}
{{- end }}
