apiVersion: tests.testkube.io/v2
kind: TestSuite
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  {{- if ne (len .Labels) 0 }}
  labels:
  {{- range $key, $value := .Labels }}
    {{ $key }}: {{ $value }}
  {{- end }}
  {{- end }}
spec:
  {{- if .Description }}
  description: {{ .Description }}
  {{- end }}
  {{- if ne (len .Before) 0 }}
  before:
  {{- range .Before }}
    {{- if .Execute }}
  - execute:
      stopOnFailure: {{ .StopTestOnFailure }}
      {{- if .Execute.Namespace }}
      namespace: {{ .Execute.Namespace }}
      {{- end }}
      {{- if .Execute.Name}}
      name: {{ .Execute.Name }}
      {{- end }}
    {{- end }}
    {{- if .Delay }}
  - delay:
      {{- if .Delay.Duration }}
      duration: {{ .Delay.Duration }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- if ne (len .Steps) 0 }}
  steps:
  {{- range .Steps }}
    {{- if .Execute }}
  - execute:
      stopOnFailure: {{ .StopTestOnFailure }}
      {{- if .Execute.Namespace }}
      namespace: {{ .Execute.Namespace }}
      {{- end }}
      {{- if .Execute.Name }}
      name: {{ .Execute.Name }}
      {{- end }}
    {{- end }}
    {{- if .Delay }}
  - delay:
      {{- if .Delay.Duration }}
      duration: {{ .Delay.Duration }}
      {{- end}}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- if ne (len .After) 0 }}
  after:
  {{- range .After }}
    {{- if .Execute }}
  - execute:
      stopOnFailure: {{ .StopTestOnFailure }}
      {{- if .Execute.Namespace }}
      namespace: {{ .Execute.Namespace }}
      {{- end }}
      {{- if .Execute.Name }}
      name: {{ .Execute.Name }}
      {{- end }}
    {{- end }}
    {{- if .Delay }}
  - delay:
      {{- if .Delay.Duration }}
      duration: {{ .Delay.Duration }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- if .Schedule }}
  schedule: {{ .Schedule }}
  {{- end }}
  {{- if .Repeats }}
  repeats: {{ .Repeats }}
  {{- end }}
  {{- if .ExecutionRequest }}
  {{- if or (.ExecutionRequest.Name) (.ExecutionRequest.HttpProxy) (.ExecutionRequest.HttpsProxy) (ne (len .ExecutionRequest.Variables) 0) (ne .ExecutionRequest.Timeout 0)}}
  executionRequest:
    {{- if .ExecutionRequest.Name }}
    name: {{ .ExecutionRequest.Name }}
    {{- end }}
    {{- if ne (len .ExecutionRequest.Variables) 0 }}
    variables:
    {{- range $key, $value := .ExecutionRequest.Variables }}
      {{ $key }}:
        name: {{ $key }}
        {{- if $value.Value }}
        value: {{ $value.Value }}
        {{- end }}
        {{- if $value.Type_ }}
        type: {{ $value.Type_ }}
        {{- end }}
        {{- if $value.SecretRef }}
        valueFrom:
          secretKeyRef:
            {{- if $value.SecretRef.Name }}
            name: {{ $value.SecretRef.Name }}
            {{- end }}
            {{- if $value.SecretRef.Key }}
            key: {{ $value.SecretRef.Key }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- end }}
    {{- if .ExecutionRequest.HttpProxy }}
    httpProxy: {{ .ExecutionRequest.HttpProxy }}
    {{- end }}
    {{- if .ExecutionRequest.HttpsProxy }}
    httpsProxy: {{ .ExecutionRequest.HttpsProxy }}
    {{- end}}
    {{- if ne .ExecutionRequest.Timeout 0 }}
    timeout: {{ .ExecutionRequest.Timeout }}
    {{- end}}
  {{- end }}
  {{- end }}
{{- if .Status }}
status:
  {{- if .Status.LatestExecution }}
  latestExecution:
    {{- if .Status.LatestExecution.Id }}
    id: {{ .Status.LatestExecution.Id }}
    {{- end }}
    {{- if not .Status.LatestExecution.StartTime.IsZero }}
    startTime: {{ .Status.LatestExecution.StartTime.Format "2006-01-02T15:04:05Z" }}
    {{- end }}
    {{- if not .Status.LatestExecution.EndTime.IsZero }}
    endTime: {{ .Status.LatestExecution.EndTime.Format "2006-01-02T15:04:05Z" }}
    {{- end }}
    {{- if .Status.LatestExecution.Status }}
    status: {{ .Status.LatestExecution.Status }}
    {{- end }}
  {{- end }}
{{- end }}
