apiVersion: tests.testkube.io/v3
kind: Test
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  labels:
  {{- range $key, $value := .Labels }}
    {{ $key }}: {{ $value }}
  {{- end }}
spec:
  type: {{ .Type_ }}
  {{- if .Content }}
  content:
    type: {{ .Content.Type_ }}
    {{- if .Content.Repository }}
    repository:
      type: {{ .Content.Repository.Type_ }}
      uri: {{ .Content.Repository.Uri }}
      branch: {{ .Content.Repository.Branch }}
      commit: {{ .Content.Repository.Commit }}      
      path: {{ .Content.Repository.Path }}
    {{- end }}
    data: {{ .Content.Data }}
    uri: {{ .Content.Uri }}
  {{- end }}
  schedule: {{ .Schedule }}
  {{- if .ExecutionRequest }}
  executionRequest:
    name: {{ .ExecutionRequest.Name }}
    variablesFile: {{ .ExecutionRequest.VariablesFile }}
    variables:
    {{- range $key, $value := .ExecutionRequest.Variables }}
    - name: {{ $key }}
      value: {{ $value.Value }}
      {{- if $value.Type_ }}
      type: {{ $value.Type_ }}
      {{- end }}
      {{- if $value.SecretRef }}
      secretRef:
        namespace: {{ $value.SecretRef.Namespace }}
        name: {{ $value.SecretRef.Name }}
        key: {{ $value.SecretRef.Key }}
      {{- end }}
    {{- end }}
    args:
    {{- range .ExecutionRequest.Args }}
      - {{ . }}
    {{- end }}
    envs:
    {{- range $key, $value := .ExecutionRequest.Envs }}
      {{ $key }}: {{ $value }}
    {{- end }}
    secretEnvs:
    {{- range $key, $value := .ExecutionRequest.SecretEnvs }}
      {{ $key }}: {{ $value }}
    {{- end }}
    httpProxy: {{ .ExecutionRequest.HttpProxy }}
    httpsProxy: {{ .ExecutionRequest.HttpsProxy }}
  {{- end }}
