apiVersion: tests.testkube.io/v1
kind: TestTrigger
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  {{- if ne (len .Labels) 0 }}
  labels:
  {{- range $key, $value := .Labels }}
    {{ $key }}: {{ $value }}
  {{- end }}
  {{- end }}
spec:
  {{- if .Selector }}
  selector:
    {{- if .Selector.MatchLabels }}
    matchLabels:
        {{- range $key, $value := .Selector.MatchLabels }}
        {{ $key }}: {{ $value }}
        {{- end }}
    {{- end }}
    {{- if .Selector.MatchExpressions }}
    matchExpressions:
        {{- range $exp := .Selector.MatchExpressions }}
      - key: {{ $exp.Key }}
        operator: {{ $exp.Operator }}
        values: {{ $exp.Values }}
        {{- end }}
    {{- end }}
  {{- end }}
  {{- if .Resource }}
  resource: {{ .Resource }}
  {{- end }}
  {{- if .ResourceRef }}
  resourceRef:
    {{- if .ResourceRef.Group }}
    group: {{ .ResourceRef.Group }}
    {{- end }}
    {{- if .ResourceRef.Version }}
    version: {{ .ResourceRef.Version }}
    {{- end }}
    kind: {{ .ResourceRef.Kind }}
  {{- end }}
  {{- if and .ResourceSelector (or .ResourceSelector.Name .ResourceSelector.NameRegex .ResourceSelector.Namespace .ResourceSelector.NamespaceRegex (and .ResourceSelector.LabelSelector (or .ResourceSelector.LabelSelector.MatchLabels .ResourceSelector.LabelSelector.MatchExpressions))) }}
  resourceSelector:
    {{- if .ResourceSelector.Name }}
    name: {{ .ResourceSelector.Name }}
    {{- end }}
    {{- if .ResourceSelector.NameRegex }}
    nameRegex: {{ printf "%q" .ResourceSelector.NameRegex }}
    {{- end }}
    {{- if .ResourceSelector.Namespace }}
    namespace: {{ .ResourceSelector.Namespace }}
    {{- end }}
    {{- if .ResourceSelector.NamespaceRegex }}
    namespaceRegex: {{ printf "%q" .ResourceSelector.NamespaceRegex }}
    {{- end }}
    {{- if and .ResourceSelector.LabelSelector (or .ResourceSelector.LabelSelector.MatchLabels .ResourceSelector.LabelSelector.MatchExpressions) }}
    labelSelector:
        {{- if .ResourceSelector.LabelSelector.MatchLabels }}
        matchLabels:
            {{- range $key, $value := .ResourceSelector.LabelSelector.MatchLabels }}
            {{ $key }}: {{ $value }}
            {{- end }}
        {{- end }}
        {{- if .ResourceSelector.LabelSelector.MatchExpressions }}
        matchExpressions:
            {{- range $exp := .ResourceSelector.LabelSelector.MatchExpressions }}
          - key: {{ $exp.Key }}
            operator: {{ $exp.Operator }}
            values: {{ $exp.Values }}
            {{- end }}
        {{- end }}
    {{- end }}
  {{- end }}
  {{- if .Event }}
  event: {{ .Event }}
  {{- end }}
  {{- if ne (len .Match) 0 }}
  match:
    {{- range $m := .Match }}
    - path: {{ $m.Path }}
      operator: {{ $m.Operator }}
      {{- if $m.Value }}
      value: {{ $m.Value }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- if .ConditionSpec }}
  conditionSpec:
    {{- if .ConditionSpec.Timeout }}
    timeout: {{ .ConditionSpec.Timeout }}
    {{- end }}
    {{- if .ConditionSpec.Delay }}
    delay: {{ .ConditionSpec.Delay }}
    {{- end }}
    {{- if ne (len .ConditionSpec.Conditions) 0 }}
    conditions:
    {{- range $exp := .ConditionSpec.Conditions }}
    - type: {{ $exp.Type_ }}
      status: {{ $exp.Status }}
      {{- if $exp.Reason }}
      reason: {{ $exp.Reason }}
      {{- end }}
      {{- if $exp.Ttl }}
      ttl: {{ $exp.Ttl }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- if .ProbeSpec }}
  probeSpec:
    {{- if .ProbeSpec.Timeout }}
    timeout: {{ .ProbeSpec.Timeout }}
    {{- end }}
    {{- if .ProbeSpec.Delay }}
    delay: {{ .ProbeSpec.Delay }}
    {{- end }}
    {{- if ne (len .ProbeSpec.Probes) 0 }}
    probes:
    {{- range $exp := .ProbeSpec.Probes }}
    -
      {{- if $exp.Scheme }}
      scheme: {{ $exp.Scheme }}
      {{- end }}
      {{- if $exp.Host }}
      host: {{ $exp.Host }}
      {{- end }}
      {{- if $exp.Path }}
      path: {{ $exp.Path }}
      {{- end }}
      {{- if $exp.Port }}
      port: {{ $exp.Port }}
      {{- end }}
      {{- if ne (len $exp.Headers) 0 }}
      headers:
      {{- range $key, $value := $exp.Headers }}
        {{ $key }}: {{ $value }}
      {{- end }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- if and .ContentSelector .ContentSelector.Git }}
  contentSelector:
    git:
      uri: {{ printf "%q" .ContentSelector.Git.Uri }}
      {{- if ne (len .ContentSelector.Git.Branches) 0 }}
      branches:
        {{- range .ContentSelector.Git.Branches }}
        - {{ printf "%q" . }}
        {{- end }}
      {{- end }}
      {{- if ne (len .ContentSelector.Git.BranchesIgnore) 0 }}
      branchesIgnore:
        {{- range .ContentSelector.Git.BranchesIgnore }}
        - {{ printf "%q" . }}
        {{- end }}
      {{- end }}
      {{- if ne (len .ContentSelector.Git.Paths) 0 }}
      paths:
        {{- range .ContentSelector.Git.Paths }}
        - {{ printf "%q" . }}
        {{- end }}
      {{- end }}
      {{- if ne (len .ContentSelector.Git.PathsIgnore) 0 }}
      pathsIgnore:
        {{- range .ContentSelector.Git.PathsIgnore }}
        - {{ printf "%q" . }}
        {{- end }}
      {{- end }}
      {{- if ne (len .ContentSelector.Git.Tags) 0 }}
      tags:
        {{- range .ContentSelector.Git.Tags }}
        - {{ printf "%q" . }}
        {{- end }}
      {{- end }}
      {{- if ne (len .ContentSelector.Git.TagsIgnore) 0 }}
      tagsIgnore:
        {{- range .ContentSelector.Git.TagsIgnore }}
        - {{ printf "%q" . }}
        {{- end }}
      {{- end }}
      {{- if .ContentSelector.Git.Username }}
      username: {{ printf "%q" .ContentSelector.Git.Username }}
      {{- end }}
      {{- if and .ContentSelector.Git.UsernameFrom (or .ContentSelector.Git.UsernameFrom.SecretKeyRef .ContentSelector.Git.UsernameFrom.ConfigMapKeyRef .ContentSelector.Git.UsernameFrom.FieldRef .ContentSelector.Git.UsernameFrom.ResourceFieldRef) }}
      usernameFrom:
        {{- if .ContentSelector.Git.UsernameFrom.SecretKeyRef }}
        secretKeyRef:
          {{- if .ContentSelector.Git.UsernameFrom.SecretKeyRef.Name }}
          name: {{ .ContentSelector.Git.UsernameFrom.SecretKeyRef.Name }}
          {{- end }}
          {{- if .ContentSelector.Git.UsernameFrom.SecretKeyRef.Key }}
          key: {{ .ContentSelector.Git.UsernameFrom.SecretKeyRef.Key }}
          {{- end }}
          {{- if .ContentSelector.Git.UsernameFrom.SecretKeyRef.Optional }}
          optional: {{ .ContentSelector.Git.UsernameFrom.SecretKeyRef.Optional }}
          {{- end }}
        {{- end }}
        {{- if .ContentSelector.Git.UsernameFrom.ConfigMapKeyRef }}
        configMapKeyRef:
          {{- if .ContentSelector.Git.UsernameFrom.ConfigMapKeyRef.Name }}
          name: {{ .ContentSelector.Git.UsernameFrom.ConfigMapKeyRef.Name }}
          {{- end }}
          {{- if .ContentSelector.Git.UsernameFrom.ConfigMapKeyRef.Key }}
          key: {{ .ContentSelector.Git.UsernameFrom.ConfigMapKeyRef.Key }}
          {{- end }}
          {{- if .ContentSelector.Git.UsernameFrom.ConfigMapKeyRef.Optional }}
          optional: {{ .ContentSelector.Git.UsernameFrom.ConfigMapKeyRef.Optional }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if .ContentSelector.Git.Token }}
      token: {{ printf "%q" .ContentSelector.Git.Token }}
      {{- end }}
      {{- if and .ContentSelector.Git.TokenFrom (or .ContentSelector.Git.TokenFrom.SecretKeyRef .ContentSelector.Git.TokenFrom.ConfigMapKeyRef .ContentSelector.Git.TokenFrom.FieldRef .ContentSelector.Git.TokenFrom.ResourceFieldRef) }}
      tokenFrom:
        {{- if .ContentSelector.Git.TokenFrom.SecretKeyRef }}
        secretKeyRef:
          {{- if .ContentSelector.Git.TokenFrom.SecretKeyRef.Name }}
          name: {{ .ContentSelector.Git.TokenFrom.SecretKeyRef.Name }}
          {{- end }}
          {{- if .ContentSelector.Git.TokenFrom.SecretKeyRef.Key }}
          key: {{ .ContentSelector.Git.TokenFrom.SecretKeyRef.Key }}
          {{- end }}
          {{- if .ContentSelector.Git.TokenFrom.SecretKeyRef.Optional }}
          optional: {{ .ContentSelector.Git.TokenFrom.SecretKeyRef.Optional }}
          {{- end }}
        {{- end }}
        {{- if .ContentSelector.Git.TokenFrom.ConfigMapKeyRef }}
        configMapKeyRef:
          {{- if .ContentSelector.Git.TokenFrom.ConfigMapKeyRef.Name }}
          name: {{ .ContentSelector.Git.TokenFrom.ConfigMapKeyRef.Name }}
          {{- end }}
          {{- if .ContentSelector.Git.TokenFrom.ConfigMapKeyRef.Key }}
          key: {{ .ContentSelector.Git.TokenFrom.ConfigMapKeyRef.Key }}
          {{- end }}
          {{- if .ContentSelector.Git.TokenFrom.ConfigMapKeyRef.Optional }}
          optional: {{ .ContentSelector.Git.TokenFrom.ConfigMapKeyRef.Optional }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if .ContentSelector.Git.SshKey }}
      sshKey: {{ printf "%q" .ContentSelector.Git.SshKey }}
      {{- end }}
      {{- if and .ContentSelector.Git.SshKeyFrom (or .ContentSelector.Git.SshKeyFrom.SecretKeyRef .ContentSelector.Git.SshKeyFrom.ConfigMapKeyRef .ContentSelector.Git.SshKeyFrom.FieldRef .ContentSelector.Git.SshKeyFrom.ResourceFieldRef) }}
      sshKeyFrom:
        {{- if .ContentSelector.Git.SshKeyFrom.SecretKeyRef }}
        secretKeyRef:
          {{- if .ContentSelector.Git.SshKeyFrom.SecretKeyRef.Name }}
          name: {{ .ContentSelector.Git.SshKeyFrom.SecretKeyRef.Name }}
          {{- end }}
          {{- if .ContentSelector.Git.SshKeyFrom.SecretKeyRef.Key }}
          key: {{ .ContentSelector.Git.SshKeyFrom.SecretKeyRef.Key }}
          {{- end }}
          {{- if .ContentSelector.Git.SshKeyFrom.SecretKeyRef.Optional }}
          optional: {{ .ContentSelector.Git.SshKeyFrom.SecretKeyRef.Optional }}
          {{- end }}
        {{- end }}
        {{- if .ContentSelector.Git.SshKeyFrom.ConfigMapKeyRef }}
        configMapKeyRef:
          {{- if .ContentSelector.Git.SshKeyFrom.ConfigMapKeyRef.Name }}
          name: {{ .ContentSelector.Git.SshKeyFrom.ConfigMapKeyRef.Name }}
          {{- end }}
          {{- if .ContentSelector.Git.SshKeyFrom.ConfigMapKeyRef.Key }}
          key: {{ .ContentSelector.Git.SshKeyFrom.ConfigMapKeyRef.Key }}
          {{- end }}
          {{- if .ContentSelector.Git.SshKeyFrom.ConfigMapKeyRef.Optional }}
          optional: {{ .ContentSelector.Git.SshKeyFrom.ConfigMapKeyRef.Optional }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if .ContentSelector.Git.AuthType }}
      authType: {{ .ContentSelector.Git.AuthType }}
      {{- end }}
      {{- if .ContentSelector.Git.PullRequest }}
      pullRequest:
        {{- if ne (len .ContentSelector.Git.PullRequest.Types) 0 }}
        types:
          {{- range .ContentSelector.Git.PullRequest.Types }}
          - {{ printf "%q" . }}
          {{- end }}
        {{- end }}
        {{- if ne (len .ContentSelector.Git.PullRequest.Branches) 0 }}
        branches:
          {{- range .ContentSelector.Git.PullRequest.Branches }}
          - {{ printf "%q" . }}
          {{- end }}
        {{- end }}
        {{- if ne (len .ContentSelector.Git.PullRequest.BranchesIgnore) 0 }}
        branchesIgnore:
          {{- range .ContentSelector.Git.PullRequest.BranchesIgnore }}
          - {{ printf "%q" . }}
          {{- end }}
        {{- end }}
      {{- end }}
  {{- end }}
  {{- if .Action }}
  action: {{ .Action }}
  {{- end }}
  {{- if .ActionParameters }}
  actionParameters:
    {{- if ne (len .ActionParameters.Config) 0 }}
    config:
      {{- range $key, $value := .ActionParameters.Config }}
      {{ $key }}: {{ $value }}
      {{- end }}
    {{- end }}
    {{- if ne (len .ActionParameters.Tags) 0 }}
    tags:
      {{- range $key, $value := .ActionParameters.Tags }}
      {{ $key }}: {{ $value }}
      {{- end }}
    {{- end }}
    {{- if .ActionParameters.Target }}
    target:
      {{- if .ActionParameters.Target.Match }}
      match:
        {{- range $key, $value := .ActionParameters.Target.Match }}
        {{ $key }}:
          {{- range $value }}
          - {{.}}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if .ActionParameters.Target.Not }}
      not:
        {{- range $key, $value := .ActionParameters.Target.Not }}
        {{ $key }}:
          {{- range $value }}
          - {{.}}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if .ActionParameters.Target.Replicate }}
      replicate:
        {{- range .ActionParameters.Target.Replicate }}
        - {{.}}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- if .Execution }}
  execution: {{ .Execution }}
  {{- end }}
  {{- if .ConcurrencyPolicy }}
  concurrencyPolicy: {{ .ConcurrencyPolicy }}
  {{- end }}
  {{- if .TestSelector }}
  testSelector:
    {{- if .TestSelector.Name }}
    name: {{ .TestSelector.Name }}
    {{- end }}
    {{- if .TestSelector.NameRegex }}
    nameRegex: {{ printf "%q" .TestSelector.NameRegex }}
    {{- end }}
    {{- if .TestSelector.Namespace }}
    namespace: {{ .TestSelector.Namespace }}
    {{- end }}
    {{- if .TestSelector.NamespaceRegex }}
    namespaceRegex: {{ printf "%q" .TestSelector.NamespaceRegex }}
    {{- end }}
    {{- if .TestSelector.LabelSelector }}
    labelSelector:
        {{- if .TestSelector.LabelSelector.MatchLabels }}
        matchLabels:
            {{- range $key, $value := .TestSelector.LabelSelector.MatchLabels }}
            {{ $key }}: {{ $value }}
            {{- end }}
        {{- end }}
        {{- if .TestSelector.LabelSelector.MatchExpressions }}
        matchExpressions:
            {{- range $exp := .TestSelector.LabelSelector.MatchExpressions }}
          - key: {{ $exp.Key }}
            operator: {{ $exp.Operator }}
            values: {{ $exp.Values }}
            {{- end }}
        {{- end }}
    {{- end }}
  {{- end }}
  {{- if .Disabled }}
  disabled: {{ .Disabled }}
  {{- end }}
