name: Release Kubetest api-server chart.

on:
  push:
    branches:
      - main
    paths:
      - 'charts/api-server/**'
  pull_request:
    branches:
      - main
    paths:
      - 'charts/api-server/**'

jobs:

  release_api_server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.2.1
        with:
          charts_dir: charts/api-server/charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
