name: "Linting"

on:
  push:
    branches-ignore:
      - main

permissions:
  # allow read access to the content for analysis.
  contents: read
  # allow read access to pull requests. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  lint:
    name: Lint
    runs-on: depot-ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Lint Go
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0
          args: --timeout=10m
          only-new-issues: true
          verify: true

      - name: Lint Protocol Buffers
        uses: bufbuild/buf-action@v1
        with:
          version: 1.56.0
          # Prevent buf from attempting to create a PR comment.
          pr_comment: false
          # buf config files are in the ./proto directory.
          input: proto
          # This is required to avoid the breaking change check
          # from failing due to the imports from the legacy
          # proto definitions, it should still allow for valid
          # breaking change detection of our own new protos.
          exclude_imports: true
          # Ignore the legacy protos from formatting, they are
          # also excluded in the buf.yaml file for breaking and
          # linting checks.
          exclude_paths: |
            proto/logs.proto
            proto/service.proto

#      - name: Lint OpenAPI
#        uses: swaggerexpert/swagger-editor-validate@v1
#        with:
#          definition-file: api/v1/testkube.yaml
#          default-timeout: 20000
